* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: $container;

  &.container_small {
    max-width: $container_small;
  }
}
