* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: $container;

  &.container_small {
    max-width: $container_small;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.half_circle {
  color: $orange;
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  padding-top: 10px;
  cursor: pointer;
  font-size: $font_small;
  letter-spacing: .2em;

  &.prev {
    right: 30px;
    transform: rotateZ(90deg);
  }

  &.next {
    left: 30px;
    transform: rotateZ(-90deg);
  }
}
