// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Mix
body {
  font-family: $primary_font;
}

h2, h3, h4 {
  font-family: $secondary_font;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.container {
  margin: 0 auto;
  max-width: $container;

  &.container_small {
    max-width: $container_small;
  }
}

h2 {
  font-size: $font_bigger;
  text-transform: uppercase;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  margin: 5px 0;
}

.half_circle {
  color: $orange;
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  padding-top: 10px;
  cursor: pointer;
  font-size: $font_small;
  letter-spacing: .2em;

  &.prev {
    right: 30px;
    transform: rotateZ(90deg);
  }

  &.next {
    left: 30px;
    transform: rotateZ(-90deg);
  }
}
