#images {
  display: flex;

  .image_container {
    width: 25%;
    padding: 0 3px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      display: block;
    }

    .cover {
      @include flex_hover;

      .orange_circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $orange;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: white;
        }
      }
    }

    &:hover {
      img {
        opacity: 0;
      }
      .cover {
        opacity: 1;
      }
    }
  }
}

#slogan {
  font-family: $secondary_font;
  background-image: url("../img/h3-testimonials-bckgrnd.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  padding: 80px 0;
  text-transform: uppercase;
  text-align: center;

  .slogan_center {
    width: 40%;

    .quotes {
      color: $light_brown;
      font-size: 50px;
    }

    h3 {
      color: $primary_dark;
      font-weight: 500;
    }

    p {
      color: $orange;
      font-size: $font_small;
      letter-spacing: $spacing_large;
      font-weight: 500;
    }

    .bullets i {
      cursor: pointer;
      margin: 0 5px;
      color: $bullets_grey;
      font-size: $font_small;
      &.active {
        color: $light_brown;
      }
    }
  }
}

#specials {
  display: flex;
  align-items: center;
  height: 600px;

  .image_container {
    height: 100%;
    width: 50%;
    background-image: url("../img/h1-img-4.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 40%;
    }
  }

  .specials_list {
    padding: 80px 150px;
    width: 50%;
    color: $primary_dark;

    p {
      color: $medium_grey;
    }

    .cost {
      float: left;
      width: 15%;
      color: $orange;
      font-family: $secondary_font;
      font-size: $font_big;
      font-weight: 500;
    }

    .description {
      width: 85%;
      float: left;

      h4 {
        font-size: $font_big;
        font-weight: 500;
      }

      p {
        font-size: $font_medium;
      }
    }
  }
}

#puzzle {
  .cropped {
    background-image: url("../img/h3-background-img.jpg");
    background-size: 87%;
    background-repeat: repeat-x;

    &.first_image {
      height: 100px;
      background-position: bottom center;
    }

    &.second_image {
      height: 235px;
      background-position: top center;
      position: relative;
      h2 {
        color: white;
        width: 300px;
        font-size: $font_bigger;
        line-height: 52px;
        position: absolute;
        top: -15px;
        left: 330px;
      }
    }

    &.third_image {
      height: 100px;
      background-position: center 65%;
    }
  }
}

#workers {
  display: flex;

  .box {
    width: 25%;
    position: relative;

    img {
      width: 100%;
      display: block;
      &:hover {
        opacity: 0;
      }
    }

    .cover {
      @include flex_hover;
      &:hover {
        opacity: 1;
      }

      .box_orange {
        background-color: $orange;
        width: 90%;
        height: 90%;
        text-align: center;
        color: $primary_white;
        padding: 110px 0;

        h5 {
          font-size: $font_big;
          font-weight: 500;
        }

        p {
          font-size: $font_medium;
        }

        a {
          margin: 0 5px;
          font-size: $font_small;
        }
      }
    }
  }
}

#partners {
  background-color: $light_grey;

  .container {
    display: flex;
    padding: 80px 0;

    img {
      width: 20%;
    }

  }
}

#pizzas {
  text-align: center;
  padding: 100px 0;

  h6 {
    color: $orange;
    font-size: $font_small;
    font-weight: 400;
    letter-spacing: $spacing_large;
  }

  h2 {
    color: $primary_dark;
    font-size: $font_more_big;
  }

  p {
    color: $dark_grey;
  }

  .pizza_show {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: hidden;
    font-family: $secondary_font;
    font-weight: 500;
    font-size: $font_medium;

    .pizza_item {
      width: 19.5%;
      &.first {
        margin-left: -7%;
      }
      &.last {
        margin-right: -7%;
      }

      img {
        width: 62%;
      }
    }

    .pizza_name {
      text-transform: uppercase;
      color: $light_brown;
    }

    .pizza_price {
      color: $orange;

      .discount {
        text-decoration: line-through;
        color: $medium_grey;
      }
    }
  }

}
