#images {
  display: flex;

  .image_container {
    width: 25%;
    padding: 0 3px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
    }

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: radial-gradient(#d1d4d8 1px, white 1px);
      background-size: 8px 8px;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .orange_circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $orange;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: white;
        }
      }
    }

    &:hover {
      img {
        opacity: 0;
      }
      .cover {
        opacity: 1;
      }
    }
  }
}

#slogan {
  background-image: url("../img/h3-testimonials-bckgrnd.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  padding: 80px 0;
  text-transform: uppercase;
  text-align: center;

  .slogan_center {
    width: 40%;

    .quotes {
      color: $light_brown;
      font-size: 50px;
    }

    h3 {
      color: $primary_dark;
      font-weight: 500;
    }

    p {
      color: $orange;
      font-size: $font_small;
      letter-spacing: $spacing_large;
      font-weight: 500;
    }

    .bullets i {
      cursor: pointer;
      margin: 0 5px;
      color: $bullets_grey;
      font-size: $font_small;
      &.active {
        color: $light_brown;
      }
    }
  }
}
