// containers
$container: 1080px;
$container_small: 800px;

// colors
$primary_dark: #2d2d2d;
$primary_white: #ffffff;
$orange: #d2401e;
$light_grey: #f6f7f2;
$light_brown: #b7903c;
$bullets_grey: #e4e4d4;

// font size
$font_small: 12px;

// letter spacing
$spacing_large: .2em;
